<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hadippa"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".Hadippa"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.commonclasses.notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.commonclasses.notification.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!--
        <receiver
            android:name="com.commonclasses.notification.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="infinite.kitchen" />
            </intent-filter>
        </receiver>
        -->


        <!-- <service android:name="com.commonclasses.notification.GCMIntentService" /> -->
         
        <receiver android:name="com.commonclasses.receivers.IncomingSmsReceiver">
              
                        
            <intent-filter>
                                
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                            
            </intent-filter>
                    
        </receiver>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".activities.HomeScreen"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.HistoryPlan"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.SignUp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.TestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.FollowingMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.Preference"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.FilterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.CategoryTab"
            android:label="@string/title_activity_category_tab"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.MyPlan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <!--
        <activity android:name=".activities.SampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".activities.PostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.ActivityThingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.HobbyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.CreateActivityActvity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activities.InviteToJoinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activities.PeopleJoinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activities.ListHadipaaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activities.ListHadipaaDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activities.VistingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activities.CoffeeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activities.TravelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.EntertainmentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.PlayDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ChatListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name="com.crop_image.ImageCropActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activities.ChatPlusActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.GroupPeopleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.FilterChooserActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.EventListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.EventDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.filter.TravelActivityFitler"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.filter.EventListActivityFilter"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.filter.CoffeeActivityFilter"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.NotificationActivity">
        </activity>
        <activity android:name=".activities.MyBookingActivity">
        </activity>
    </application>

</manifest>